@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  background-color: "#f5f5f5"
}

html.dark {
  scroll-behavior: smooth;
  background-color: "#171717"
}

@layer base {
  h1 { @apply text-4xl; }
  h2 { @apply text-2xl; }
  h3 { @apply text-xl; }
}